.bracelet-section {
    background-color: #D1E0E1;
    padding: 70px 40px;
}

.bracelet-section h2{
    color:black !important;
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.products{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.product{
    width: 350px;
    text-align: center;
}

.product img{
    width: 100%;
    height: auto;
}

.product h3{
    color: black;
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product p{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bracelet-section p{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
