*{
padding: 0;
margin:0;
box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: rgb(214, 220, 225);
    margin: 0;
    padding: 0;
}

header {
    background-color: #5ec26a;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.navbar{
   background-color: black;
   width: 68%;
   height: 80px;
   border-radius: 50px;

   top: -50px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);

   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

/* PULSE PRO TEKSTEN */

.tekst{
    color: white;
    font-family: barlow semi condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transform: translateY(15px);
}

.tekst span {
    font-size: 20px;
    font-style: italic;
    margin-left: 30px;
}

/* DE 3 STREGER I MIDTEN AF KNAPPEN */

.menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    transform: translateY(15px);
}

.menu span {
    width: 70px;
    height: 8px;
    background-color: white;
    border-radius: 10px;
}

/* KONTAKT SKRIFTEN I KNAPPEN */

.kontakt {
    color: white;
    font-family: barlow semi condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(15px);
}

/* DETTE GØR AT KNAPPEN GÅR UD OVER KANTEN ØVERST */

.top {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: -20px;
    display: block;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-icon{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.profile-icon{
    width: 50px;
    height: 50px;
    object-fit: contain;
}







