*{
padding: 0;
margin:0;
box-sizing: border-box;
}

.header{
    background-color:rgb(80, 157, 103);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.navbar{
   background-color: black;
   width: 68%;
   height: 80px;
   border-radius: 50px;

   top: -50px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);

   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

/* PULSE PRO TEKSTEN */

.tekst{
    color: white;
    font-family: barlow semi condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transform: translateY(15px);
}

.tekst span {
    font-size: 20px;
    font-style: italic;
    margin-left: 30px;
}

/* DE 3 STREGER I MIDTEN AF KNAPPEN */

.menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    transform: translateY(15px);
}

.menu span {
    width: 70px;
    height: 8px;
    background-color: white;
    border-radius: 10px;
}

/* KONTAKT SKRIFTEN I KNAPPEN */

.kontakt {
    color: white;
    font-family: barlow semi condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(15px);
}

/* DETTE GØR AT KNAPPEN GÅR UD OVER KANTEN ØVERST */

.top {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header-logo{
    width: 140px;
    height: 100px;
    position: absolute;
    top: -25px;
    left: -10px;
    display: block;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 15px;

    position: absolute;
    right: 30px;
    top: 5px;
}

.cart-icon{
    width: 45px;
    height: 45px;
   position: relative;
}

.cart{
    width: 30px;
    height: 20px;
    border: 3px solid black;

    position: absolute;
    top: 7px;
    left: 7px;
}

.wheel {
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 33px;
}

.wheel-left {
    left: 11px;
}

.wheel-right {
    left: 30px;
}




.profile-icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
}

.profile-head {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;

    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-body {
    width: 24px;
    height: 13px;
    background-color: black;
    border-radius: 15px 15px 5px 5px;

    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.cart-icon:hover {
    transform: scale(1.15);
    transition: transform 0.2s ease;
}

.profile-icon:hover {
    transform: scale(1.15);
    transition: transform 0.2s ease;
}

.navbar {
    position: fixed;
    z-index: 99;
    margin-top: 25px;

}

img.header-logo {
    position: fixed;
    z-index: 99;
    margin-top: 18px;
}

.cart-icon {
    position: fixed;
    z-index: 99;
    margin-top: 3px;
    right: 120px;
}

.profile-icon {
    position: fixed;
    z-index: 99;
    right: 40px;
}





